body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paquet {
    width: 800px;
    height: 800px;
    background: green;
    border: solid 15px;
    border-color: brown;
    border-radius: 20px;
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.paquet .carte {
    height: 150px;
    width: 115px;
    display: flex;
    color: cadetblue;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-image: url(../assets/dos_carte/dos-pk.png);
}