body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.paquet {
    width: 500px;
    height: 500px;
    background: red;
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

